.banner {
  background-image: url('https://images.unsplash.com/photo-1461988320302-91bde64fc8e4?ixid=2yJhcHBfaWQiOjEyMDd9&fm=jpg&fit=crop&w=1600&q=80&fit=max');
  height: 500px;
  width: 100%;
  object-fit: cover;
  display: flex;
  justify-items: center;
  align-items: center;
  color: white;
}
